@model IEnumerable<ProjetoAW.Models.Produto>
@{
    ViewBag.Title = "Home";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>
    <style>
        .conteudoHome {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        section {
            margin: 0 30px;
        }

        .containerCar {
            background: #fff;
            width: 100%;
            height: 45vh;
        }

        .slider {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;
        }

            .slider img {
                width: 100%;
                height: 55vh;
                object-fit: cover;
            }

        .text-carousel {
            padding-bottom: 15px;
            font-size: 22px;
        }

        .title-caption {
            padding-bottom: 25px;
            font-size: 35px;
        }

        .carousel-caption {
            margin-bottom: 135px;
        }

        .btn-caption:hover {
            background-color: transparent;
            border-color: #3CA374;
            color: #fff;
            transition-duration: 0.6s;
        }

        .sobre {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 17px;
            /* background-color: #3CA374;
            /* color: white; */
            width: 40%;
            margin-bottom: 1rem;
        }
    </style>
</head>
<div class="conteudoHome">
    <div class="containerCar">
        <div id="carroselPetShop" class="carousel slide carousel-fade slider" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carroselPetShop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carroselPetShop" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carroselPetShop" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carroselPetShop" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-responsive img-carrosel" src="~/img/produtos.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="title-caption">Produtos</h2>
                        <p class="text-carousel">Tenha acesso aos melhores produtos da loja clicando no botão abaixo!</p>
                        <a class="btn btn-success btn-caption" href="/Produto/Vitrine">Lista de Produtos</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-carrosel" src="~/img/agendamento.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="title-caption">Agendamentos</h2>
                        <p class="text-carousel">Consulte os agendamentos dos seus pets em nossa loja!</p>
                        <a class="btn btn-success btn-caption" href="/Cliente/ListaAgendamento">Conferir</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-carrosel" src="~/img/services1.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="title-caption">Serviços</h2>
                        <p class="text-carousel">Indeciso do que agendar? Confira antes a descrição dos nossos serviços!</p>
                        <a class="btn btn-success btn-caption" href="/Home/Servicos">Mostruário de Serviços</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-responsive img-carrosel" src="~/img/services2.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="title-caption">Pedidos</h2>
                        <p class="text-carousel">Confira aqui quantas vezes você deixou o seu pet feliz!</p>
                        <a class="btn btn-success btn-caption" href="/Venda/DadosPedido">Lista de Pedidos</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carroselPetShop" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden" style="color: #00ff90">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carroselPetShop" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="color: #00ff90"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h2>Espécies que damos nosso carinho especial: </h2>
    <div class="categorias">
        <div class="linha">
            <div class="circuloEspecie">
                <a href="/Produto/FiltraPorEspecie/1" class="actionLink">
                    <img class="img-responsive" height="70" width="70" src="~/img/cao.png" />
                    <h3 class="text-center">Cães</h3>
                </a>
            </div>
            <div class="circuloEspecie">
                <a href="/Produto/FiltraPorEspecie/2" class="actionLink">
                    <img class="img-responsive" height="70" width="70" src="~/img/gato.png" />
                    <h3 class="text-center">Gatos</h3>
                </a>
            </div>
            <div class="circuloEspecie">
                <a href="/Produto/FiltraPorEspecie/3" class="actionLink">
                    <img class="img-responsive" height="70" width="70" src="~/img/papagaio.png" />
                    <h3 class="text-center">Pássaros</h3>
                </a>
            </div>
            <div class="circuloEspecie">
                <a href="/Produto/FiltraPorEspecie/4" class="actionLink">
                    <img class="img-responsive" height="70" width="70" src="~/img/coelho.png" />
                    <h3 class="text-center">Roedores</h3>
                </a>
            </div>
            <div class="circuloEspecie">
                <a href="/Produto/FiltraPorEspecie/5" class="actionLink">
                    <img class="img-responsive" height="70" width="70" src="~/img/tartaruga.png" />
                    <h3 class="text-center">Répteis</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Sobre a Loja:</h2>
        <div class="linhaCenter" style="justify-content: center">
            <div class="sobre">
                <h3>
                    <i class="fas fa-paw" style="color: #43b581"></i> A Animal World nasceu com o intuito de viabilizar um tipo de serviço único, de qualidade, e acessível, tanto para seus clientes,
                    quanto a todos os Pets que cuidamos.
                </h3>
                <h3>
                    <i class="fas fa-paw" style="color: #43b581"></i> A ideia é mesclar uma equipe competente, com fornecedores de materiais de qualidade, para que possamos cativar à todos os envolvidos no processo.
                </h3>
                <h3>
                    <i class="fas fa-paw" style="color: #43b581"></i> Com garantia certa dos nossos serviços, a Animal World vem crescendo cada vez mais no ramo dos nossos melhores amigos!
                </h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.3584717907022!2d-46.72935749609311!3d-23.520743716019545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x671c9325c275132e!2sETEC%20Professor%20Basilides%20de%20Godoy.!5e0!3m2!1spt-BR!2sbr!4v1625016377077!5m2!1spt-BR!2sbr" width="300" height="300" style="border:1px solid #43b581;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="contVitrine">
            <div class="cbcVit">
                <h6 class="--main-title">Produtos mais comprados da semana: </h6>
            </div>
            <div class="linhaVitrine">
                @foreach (var item in Model)
                {
                    if (item.isComercializavel)
                    {
                        var id = item.codProduto;

                        <div class="cardVitrine">
                            @if (item.isFavorite)
                            {
                                <i class="fas fa-heart favVit" id="@id" name="@item.isFavorite.ToString()" value="@item.isFavorite.ToString()" onclick="changeColor(this)" style="color: #43b581"></i>
                            }
                            else
                            {
                                <i class="far fa-heart favVit" id="@id" name="@item.isFavorite.ToString()" value="@item.isFavorite.ToString()" onclick="changeColor(this)"></i>

                            }
                            @if (item.imagemProduto != null)
                            {
                                <a href="/Produto/DetalheProd/@id"><img src="@item.imagemProduto" id="imgVit" /></a>
                            }
                            else
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">
                            }

                            <hr />
                            @Html.ActionLink(item.nomeProduto, "DetalheProd", new { id = item.codProduto }, new { @class = "actionProduto" })

                            @if (item.descontoProd != 0)
                            {
                                <s id="valor">@Html.DisplayFor(modelItem => item.valorUnitario)</s>
                                <h5 class="precoVit">@Html.DisplayFor(modelItem => item.descontoProd)</h5>
                            }

                            else
                            {
                                <h5 class="precoVit"> @Html.DisplayFor(modelItem => item.valorUnitario)</h5>
                            }
                            @using (Html.BeginForm("AdicionarItemCarrinho", "Venda", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@item.codProduto" />
                                <input type="hidden" name="preco" value="@item.valorUnitario" />
                                <input type="hidden" name="quantidade" value="1" />
                                <button class="btn btn-success addCarrinho"><i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho</button>
                            }
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>
