@model IEnumerable<ProjetoAW.Models.Fornecedor>

@{
    ViewBag.Title = "Marca";
}

<h2>Marca</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codFornecedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeFornecedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailFornecedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagemFornecedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codFornecedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeFornecedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailFornecedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagemFornecedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
