@model ProjetoAW.Models.Cliente

@{
    ViewBag.Title = "CadCliente";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>

    <style>

        h2 {
            margin-top: 1.2rem;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.6rem;
        }

        .contCadastroCli {
            height: 350px;
            padding-top: 3.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .formCC {
            display: flex;
            flex-direction: row;
        }

        .dadosCC {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        p {
            margin-bottom: 15px;
        }

        .cadastroCli {
            top: 0px;
            padding: 18px 6% 20px 6%;
            margin: 0 0 35px 0;
            background: rgb(247, 247, 247);
            border: 1px solid rgba(147, 184, 189,0.8);
            border-radius: 5px;
        }

        #linha1Cli {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        #input1 {
            width: 20%;
        }

        #input2 {
            width: 70%;
        }

        .botaoCC {
            padding-top: 1.2rem;
        }

        #btnCC {
            font-size: 1.5rem;
            background-color: #43b581;
            color: white;
        }
    </style>
</head>

<div>
    <h2>Cadastro de Cliente</h2>
</div>

@using (Html.BeginForm("CadCliente", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="contCadastroCli">
        <div class="cadastroCli">
            <form method="get" action="." class="formCC">
                <div class="dadosCC">
                    <div id="linha1Cli">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nomeCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nomeCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nomeCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.telefoneCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.telefoneCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefoneCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="linha1Cli">
                        <div class="form-group">
                            @Html.LabelFor(model => model.emailCli, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.emailCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.emailCli, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.cpfCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cpfCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cpfCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.cepCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cepCli, new { htmlAttributes = new { @class = "form-control", @id = "cep", @name = "cep", @onblur = "pesquisacep(this.value);" } })
                                @Html.ValidationMessageFor(model => model.cepCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="linha1Cli">
                        <div class="form-group">
                            @Html.LabelFor(model => model.logradouroCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.logradouroCli, new { htmlAttributes = new { @class = "form-control", @id = "rua" } })
                                @Html.ValidationMessageFor(model => model.logradouroCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.numeroCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.numeroCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numeroCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.bairroCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bairroCli, new { htmlAttributes = new { @class = "form-control", @id = "bairro" } })
                                @Html.ValidationMessageFor(model => model.bairroCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="linha1Cli">
                        <div class="form-group">
                            @Html.LabelFor(model => model.cidadeCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cidadeCli, new { htmlAttributes = new { @class = "form-control", @id = "cidade" } })
                                @Html.ValidationMessageFor(model => model.cidadeCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.estadoCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estadoCli, new { htmlAttributes = new { @class = "form-control", @id = "uf" } })
                                @Html.ValidationMessageFor(model => model.estadoCli, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.usuarioCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.usuarioCli, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.usuarioCli, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.senhaCli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.senhaCli, new { htmlAttributes = new { @class = "form-control", @type="password"} })
                                @Html.ValidationMessageFor(model => model.senhaCli, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="botaoCC">
                        <input type="submit" value="Confirmar Cadastro" id="btnCC" />
                        @ViewBag.Message
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<script>
    function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('rua').value = ("");
        document.getElementById('bairro').value = ("");
        document.getElementById('cidade').value = ("");
        document.getElementById('uf').value = ("");
        document.getElementById('ibge').value = ("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value = (conteudo.logradouro);
            document.getElementById('bairro').value = (conteudo.bairro);
            document.getElementById('cidade').value = (conteudo.localidade);
            document.getElementById('uf').value = (conteudo.uf);
            document.getElementById('ibge').value = (conteudo.ibge);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if (validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value = "...";
                document.getElementById('bairro').value = "...";
                document.getElementById('cidade').value = "...";
                document.getElementById('uf').value = "...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //fim if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //fim if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    }
</script>