@model IEnumerable<ProjetoAW.Models.Cliente>

@{
    ViewBag.Title = "ListaClientes";
}

<div>
    <h2>Lista de Clientes</h2>
</div>
<div class="container">
    @using (Html.BeginForm("ListaClientes", "Cliente", FormMethod.Post))
    {
        <input class="form-control" style="display: inline-block; max-width: 350px !important; margin-bottom:5px;" id="search" name="search"
               placeholder="Digite o nome do cliente desejado" />
        <button type="submit" class="btn btn-default --border btnPesquisa">
            <i class="fas fa-search"></i>
        </button>

    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cepCli)
            </th>
            <th>
                @using (Html.BeginForm("ListaFunc", "Gerente", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-default --border btnPesquisa">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                }
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cpfCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefoneCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cepCli)
                </td>
                <td>
                    <a class="btn btn-success" href="/Gerente/ListaPets/@item.codCli"><i class="fas fa-paw"></i> Ver Pets</a>
                </td>
            </tr>
        }

    </table>
</div>