@model IEnumerable<ProjetoAW.Models.Agenda>
@{
    ViewBag.Title = "ListaAgendamento";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>
    <style>
        h2 {
            margin-top: 1.2rem;
            font-size: 1.5rem;
            text-align: center;
        }

        .contLA {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .cardLA {
            height: auto;
            border-radius: 10px;
            border: 1px solid #43b581;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
        }

        .linhaLA {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

            .linhaLA p {
                padding: 1.2rem;
                font-size: 17px;
            }

        #btnLA {
            border-radius: 15px;
            font-size: 1rem;
            color: #fff;
        }

        #nomePet {
            font-size: 20px;
        }

        .linhaCenter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }
    </style>
</head>

<div>
    <h2 class="--main-title"> Seus Últimos Agendamentos: </h2>
</div>
@foreach (var item in Model)
{
    <div class="contLA">
        <div class="cardLA">
            <div class="linhaLA">
                <p id="nomePet"><i class="fas fa-paw"></i> @Html.DisplayFor(modelItem => item.nomeServico) do(a) @Html.DisplayFor(modelItem => item.nomeAnimal)</p>
                <div class="linhaLA">
                    <p class="textoChip">@Html.DisplayNameFor(model => model.situacaoAgenda):</p>
                    @if (item.situacaoAgenda == "Em Andamento")
                    {
                        <div class="chipAndamento"><p class="textoChip"><i class="fas fa-spinner fa-spin"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)</p></div>
                    }

                    else if (item.situacaoAgenda == "Concluído")
                    {
                        <div class="chipConcluido"><p class="textoChip"><i class="fas fa-check"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)</p></div>
                    }
                    else
                    {
                        <div class="chipCancelado"><p class="textoChip"><i class="fas fa-times"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)</p></div>
                    }

                </div>
            </div>
            <div class="linhaLA">
                <p><i class="far fa-calendar"></i> @Html.DisplayNameFor(model => model.dataAgenda): @Html.DisplayFor(modelItem => item.dataAgenda)</p>
                <p><i class="far fa-clock"></i> @Html.DisplayNameFor(model => model.horarioAgenda):  @Html.DisplayFor(modelItem => item.horarioAgenda)</p>
            </div>
            <div class="linhaLA">
                <p><i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(model => model.valorServico): @Html.DisplayFor(modelItem => item.valorServico) </p>
            </div>
            @if (item.situacaoAgenda == "Em Andamento")
            {
                <div class="linhaCenter">
                    @using (Html.BeginForm("CancelaAgendamento", "Servico", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@item.codAgenda" />
                        <button class="btn btn-danger" id="btnLa"><i class="fas fa-calendar-times"></i> Cancelar</button>
                    }
                </div>
            }
        </div>
    </div>
}


