@model IEnumerable<ProjetoAW.Models.Cliente>

@{
    ViewBag.Title = "ListaClientes";
}

<div>
    <h2>Lista de Clientes</h2>
</div>
<div class="container">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cepCli)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cpfCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefoneCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cepCli)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Ver Pets", "Details", new { /* id=item.PrimaryKey */ }) 
                </td>
            </tr>
        }

    </table>
</div>