@model ProjetoAW.Models.Venda
@{
    ViewBag.Title = "DadosEntrega";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>
    <style>
        h2 {
            margin-top: 1.2rem;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.6rem;
        }

        #contDadosEntrega {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cardEnd {
            height: auto;
            background-color: white;
            box-shadow: 0px 2px 5px #1f232b5e;
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 15px;
        }

        .TextoEnde {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            line-height: normal;
        }


        .EndeIcon {
            width: 4rem;
            height: 4rem;
        }

        #tituloEndereco {
            font-size: 18px;
            text-align: center;
        }

        .cardProd {
            height: 9rem;
            background-color: white;
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 0px 2px 5px #1f232b5e;
        }

        .conteudoProd {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35%;
            height: auto;
        }

        .ProdIcon {
            width: 7rem;
            height: 7rem;
        }

        .TextoProd {
            margin-left: 2.0rem;
            font-size: 19px;
        }

        .cardPagamento {
            margin-top: 15px;
            height: 6rem;
            background-color: white;
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .RetireAlt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: 0px 4px 5px #1f232b5e;
            width: 40%;
            height: 6rem;
        }


        .conteudoFP {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 6rem;
            width: auto;
        }

        .Total {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 5px #1f232b5e;
            height: 3rem;
            width: 100%;
            background-color: white;
        }

        #ConfirmaPedido {
            background-color: #3CA374;
            border-radius: 50%;
            margin-left: 10rem;
        }

        .BotaoConf {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        #confirmaDE {
            background-color: #43b581;
            color: white;
            font-size: 1.4rem;
            padding: 8px;
        }

        .FP1 {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            box-shadow: 0px 4px 5px #1f232b5e;
        }

        .selectPagamento {
            max-width: 295px;
            margin: 10px;
        }

        #valorTotal {
            font-size: 18px;
            font-weight: 600;
            color: #43b581;
        }
    </style>
</head>

<div>
    <h2 class="--main-title">Dados da entrega</h2>
</div>
@using (Html.BeginForm("CadastrarVenda", "Venda", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="contDadosEntrega">

        <div class="cardEnd">
            <span>
                <img src="~/img/casa-de-animais.png"
                     alt="Casa"
                     class="EndeIcon" />
            </span>
            <div class="TextoEnde">
                <p id="tituloEndereco"> Endereço de Entrega: </p>
                <p>
                    @Html.DisplayFor(modelItem => Model.logradouro), @Html.DisplayFor(modelItem => Model.numero),  @Html.DisplayFor(modelItem => Model.bairro),  @Html.DisplayFor(modelItem => Model.cidade),  @Html.DisplayFor(modelItem => Model.estado)
                </p>
                <p style="text-align: center">
                    CEP:  @Html.DisplayFor(modelItem => Model.cep)
                </p>
            </div>
            <a href="/Cliente/DadosPessoais/@Model.codCli">Editar</a>
        </div>

        @foreach (var item in Model.itemPedido)
        {
            <div class="cardProd">
                <div class="conteudoProd">

                    <img src="@Html.DisplayFor(modelItem => item.imagemProduto)"
                         alt="Produto"
                         class="ProdIcon" />

                </div>
                <div class="TextoProd">
                    <p>
                        @Html.DisplayFor(modelItem => item.quantidadePedido) - @Html.DisplayFor(modelItem => item.produto)
                        - @Html.DisplayFor(modelItem => item.valorProduto)
                    </p>
                </div>
            </div>

        }
        <div class="cardPagamento">
            <div class="RetireAlt">
                <p>
                    Ou, se preferir
                </p>
                <a href="#">Retire na Loja</a>
            </div>
            <div class="conteudoFP">
                <div class="FP1">
                    @Html.LabelFor(modelItem => Model.codPagamento)
                    @Html.DropDownList("pagamentos", null, "Selecione a forma de pagamento", new { @class = "form-select selectPagamento" })
                    <p id="valorTotal">Total: @Html.DisplayFor(modelItem => Model.valorTotal)</p>
                </div>
            </div>
        </div>
        <div class="BotaoConf">
            <button class="btn btn-success" id="confirmaDE"><i class="fas fa-check-double"></i> Confirmar </button>
        </div>
    </div>
}


