@using X.PagedList.Mvc;

@model X.PagedList.PagedList<ProjetoAW.Models.Venda>

@{
    ViewBag.Title = "ListaPedido";
}

<h2>Lista de Pedidos</h2>

<div class="container-fluid">

    <table class="table">
        <tr>
            <th>
                Número da Venda
            </th>
            <th>
                Data da Venda
            </th>
            <th>
                Data de Entrega
            </th>
            <th>
                Quantidade Vendida
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Cliente
            </th>
            <th>
                Tipo de Pagamento
            </th>
            <th>
                Situação
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.codVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qtdItensVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoPagamento)
                </td>
                <td>
                    @if (item.situacao == "Em Andamento")
                    {
                        <div class="chipAndamento">
                            <i class="fas fa-spinner fa-spin"></i> @Html.DisplayFor(modelItem => item.situacao)
                        </div>

                    }

                    else if (item.situacao == "Concluído")
                    {
                        <div class="chipConcluido">
                            <i class="fas fa-check"></i> @Html.DisplayFor(modelItem => item.situacao)
                        </div>
                    }

                    else
                    {
                        <div class="chipCancelado">
                            <i class="fas fa-times"></i> @Html.DisplayFor(modelItem => item.situacao)
                        </div>
                    }
                </td>
                <td>
                    @if (item.situacao == "Em Andamento")
                    {
                        <a class="btn btn-success" href="/Venda/ConcluirVenda/@item.codVenda"> <i class="fas fa-check"></i></a>
                        <a class="btn btn-danger" href="/Venda/CancelarVenda/@item.codVenda"> <i class="fas fa-times"></i></a>
                    }
                    <a class="btn btn-primary" href="/Venda/ListaItensVenda/@item.codVenda"><i class="fas fa-eye"></i> Detalhes</a>
                </td>
            </tr>
        }

    </table>
    Listando registros de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
    <br />
    <div class="paginacao">
        @Html.PagedListPager(Model, pagina => Url.Action("ListaPedido", new { pagina }))
    </div>
</div>
