@model ProjetoAW.Models.Venda
@{
    ViewBag.Title = "MeuCarrinho";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>

    <style>

        h2 {
            font-size: 24px;
            text-align: center
        }

        .carrinho2 {
            width: 80%;
            margin: 20px auto;
        }

        #carrinhoInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        table {
            border: 2px solid #3CA374;
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
        }

        th {
            text-align: left;
            padding: 5px;
            font-weight: normal;
            font-size: 17px;
        }

        td {
            padding: 10px 5px;
        }

            td input {
                width: 40px;
                height: 30px;
            }

            td a {
                color: #3CA374;
                font-size: 12px;
            }

        #removerBtn {
            font-size: 1rem;
            margin-right: 4rem;
        }

        #continuarBtn {
            background-color: #43b581;
            color: black;
            font-size: 1rem;
        }

        .preçoTotal {
            display: flex;
            justify-content: flex-end;
        }

            .preçoTotal table {
                border: 1px solid #000;
                width: 100%;
                max-width: 340px;
            }

        #ProdImg {
            height: 80px;
            width: 80px;
        }

        #content-cart {
            height: 2rem;
        }

        #btnMC {
            background-color: #43b581;
            color: white;
            font-size: 0.8rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            padding: 2rem;
            font-size: 1rem;
        }

        .columnProd {
            padding-top: 40px !important;
        }

        #btnExcluir {
            padding-top: 35px !important;
        }
    </style>
</head>

<div class="MeuCarrinho">
    <h2 class="--main-title">Meu Carrinho</h2>
    <div class="carrinho2">
        <table class="table">
            <tr>
                <th></th>
                <th> @Html.DisplayNameFor(model => model.codProduto)</th>
                <th> @Html.DisplayNameFor(model => model.valorProduto)</th>
                <th> @Html.DisplayNameFor(model => model.qtdItensVenda)</th>
                <th> @Html.DisplayNameFor(model => model.valorTotal)</th>
                <th></th>
            </tr>
            @foreach (var item in Model.itemPedido)
            {
                <tr id="content-cart">
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.imagemProduto)" id="ProdImg" />
                    </td>
                    <td class="columnProd">
                        @Html.DisplayFor(modelItem => item.produto)
                    </td>
                    <td class="columnProd">
                        <div>
                            @Html.DisplayFor(modelItem => item.valorProduto)
                        </div>
                    </td>

                    <td class="columnProd">
                        <a class="btn btn-default" href="/Venda/DeletaItemCarrinho/@item.codProduto"><i class="fas fa-minus"></i></a><input type="number" value="@Html.DisplayFor(modelItem => item.quantidadePedido)" disabled /> <a class="btn btn-default" href="/Venda/AdicionarItemCarrinho/@item.codProduto"><i class="fas fa-plus"></i></a>
                    </td>

                    <td class="columnProd">@Html.DisplayFor(modelItem => item.valorTotal)</td>

                    <td id="btnExcluir">
                        @using (Html.BeginForm("ExcluirItemCarrinho", "Venda", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value=@item.codPedido>

                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        }
                    </td>
                </tr>
            }

        </table>

        @using (Html.BeginForm("DadosEntrega", "Venda", FormMethod.Post))
        {
            <button class="btn btn-success">Finalizar compra</button>
        }
    </div>
</div>




