@model IEnumerable<ProjetoAW.Models.Funcionario>

@{
    ViewBag.Title = "ListaFunc";
}

<h2>Lista de Funcionários</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioFunc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senhaFunc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeFunc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailFunc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioFunc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.senhaFunc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>
