@model IEnumerable<ProjetoAW.Models.Agenda>

@{
    ViewBag.Title = "ListaAgendamentos";
}

<h2>Lista de Agendamentos</h2>

<div class="container">


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.dataAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horarioAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situacaoAgenda)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dataAgenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horarioAgenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeCli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeAnimal)
                </td>
                <td>
                    @if (item.situacaoAgenda == "Em Andamento")
                    {
                    <div class="chipAndamento">
                        <i class="fas fa-spinner fa-spin"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)
                    </div>

                    }

                    else if (item.situacaoAgenda == "Concluído")
                    {
                        <div class="chipConcluido">
                            <i class="fas fa-check"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)
                        </div>
                    }

                    else
                    {
                        <div class="chipCancelado">
                            <i class="fas fa-times"></i> @Html.DisplayFor(modelItem => item.situacaoAgenda)
                        </div>
                    }
                </td>
                <td>
                    @if (item.situacaoAgenda == "Em Andamento")
                    {
                        <a class="btn btn-success" href="/Servico/ConcluiAgendamento/@item.codAgenda"> <i class="fas fa-check"></i></a>
                        <a class="btn btn-danger" href="/Servico/CancelaAgendamento/@item.codAgenda"> <i class="fas fa-times"></i></a>
                    }
                </td>
            </tr>
        }

    </table>
</div>
