<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Animal World</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>
</head>
<body>

    <header class="header --background_primary">
        <a href="/Home/Home"><img class="header__image" src="~/img/logopetshop.png" alt="logo" /></a>
        <h1 class="header__title --color_primary"><a href="/Home/Home" class="actionLink">Animal World</a></h1>
        <div class="header__content">
            <form action="/Produto/Vitrine" class="header__content__search">
                    <input class="header__content__search__input"
                           placeholder="Digite o produto desejado"
                           id="searchField"
                           name="searchField" />
                    <button type="submit" class="header__content__search__button">
                        <img class="header__content__search__button__icon"
                             src="~/img/search_black_24dp.svg"
                             alt="logo" />
                    </button>
            </form>
            <a href="/Venda/DadosPedido">
                <h4 class="header__content__subtitle --color_primary">
                    Meus Pedidos
                    <img src="~/img/shopping_bag_white_24dp.svg"
                         alt="sacola"
                         class="header__content__subtitle__image" />
                </h4>
            </a>
            <div class="header__content__navcontainer">
                @if (Session["usuario"] != null && Session["senha"] != null)
                {
                    if (Session["nivel0"] != null)
                    {
                        <h4 class="header__content__navcontainer__subtitle --color_primary">
                            <i class="fas fa-user-tie"></i> &nbsp;@Html.ActionLink("Área do Gerente", "HomeGerente", "Gerente", null, new { @class = "actionLink" })
                        </h4>
                    }

                    else
                    {
                        <h4 class="header__content__navcontainer__subtitle --color_primary">
                            Bem vindo(a), @Session["usuario"]!

                            <img src="~/img/expand_more_white_24dp.svg"
                                 class="header__content__subtitle__image"
                                 onclick="toggleDropdown()" />
                        </h4>
                        <nav class="header__content__navcontainer_nav --hidden --border dropdown-menu">
                            <span class="header__content__navcontainer__item --border-bottom">
                                <img class="header__content__navcontainer_item__icon"
                                     src="~/img/meus-dados.png"
                                     alt="" /><a href="/Cliente/DadosPessoais" class="header__content__navcontainer_item_link">Meus Dados</a>
                            </span>
                            <span class="header__content__navcontainer__item --border-bottom">
                                <img class="header__content__navcontainer_item__icon"
                                     src="~/img/pets.png"
                                     alt="" /><a href="/Animal/ListaPet" class="header__content__navcontainer_item_link">Pets</a>
                            </span>
                            <span class="header__content__navcontainer__item --border-bottom">
                                <img class="header__content__navcontainer_item__icon"
                                     src="~/img/amor.png"
                                     alt="" /><a href="/Cliente/Favoritos" class="header__content__navcontainer_item_link">Favoritos</a>
                            </span>
                            <span class="header__content__navcontainer__item --border-bottom">
                                <img class="header__content__navcontainer_item__icon"
                                     src="~/img/calendar.png"
                                     alt="" /><a href="/Cliente/ListaAgendamento" class="header__content__navcontainer_item_link">Agendamentos</a>
                            </span>
                            <span class="header__content__navcontainer__item">
                                <img class="header__content__navcontainer_item__icon"
                                     src="~/img/sair.png"
                                     alt="" /><a href="/Home/Logout" class="header__content__navcontainer_item_link">Sair</a>
                            </span>
                        </nav>
                    }
                }
                else
                {
                    <h4 class="header__content__navcontainer__subtitle --color_primary"> <i class="fas fa-user"></i> @Html.ActionLink("Login", "Login", "Home", null, new { @class = "actionLink" })</h4>
                }
            </div>
            <a href="/Venda/MeuCarrinho" class="actionLink">

                @if (Session["qtdCarrinho"] != null)
                {

                    <div class="circulo-carrinho">@Session["qtdCarrinho"].ToString()</div>
                }

                else
                {
                    <div class="circulo-carrinho">0</div>
                }
                <img class="header__content__cart"
                     src="~/img/shopping_cart_white_24dp.svg"
                     alt="carrinho" />
            </a>
        </div>
    </header>

    <div class="navbar-nav" id="subNav">
        <ul class="nav">
            <li>
                <img src="~/img/home.png"
                     alt="home"
                     class="image_subnav" />
                @Html.ActionLink("Home", "Home", "Home", null, new { @class = "actionLink" })
            </li>
            <li>
                <img src="~/img/categoria.png"
                     alt="categoria"
                     class="image_subnav" />
                <div class="dropdown show">
                    <a class="actionLink dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Categorias </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item --border-bottom" href="/Produto/Vitrine/1"><i class="fas fa-cookie"></i> Petiscos</a>
                        <a class="dropdown-item --border-bottom" href="/Produto/Vitrine/2"><i class="fas fa-medkit"></i> Medicamentos</a>
                        <a class="dropdown-item --border-bottom" href="/Produto/Vitrine/3"><i class="fas fa-baseball-ball"></i> Acessórios</a>
                        <a class="dropdown-item --border-bottom" href="/Produto/Vitrine/4"><i class="fas fa-bone"></i> Brinquedos</a>
                        <a class="dropdown-item --border-bottom" href="/Produto/Vitrine/5"><i class="fas fa-drumstick-bite"></i> Alimentos</a>
                        <a class="dropdown-item" href="/Produto/Vitrine/6"><i class="fas fa-soap"></i> Higiene</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/img/marcas.png"
                     alt="marcas"
                     class="image_subnav" />
                @Html.ActionLink("Marcas", "Marcas", "Home", null, new { @class = "actionLink" })
            </li>
            <li>
                <img src="~/img/servicos.png"
                     alt="servicos"
                     class="image_subnav" />
                @Html.ActionLink("Serviços", "Servicos", "Home", null, new { @class = "actionLink" })
            </li>
        </ul>
    </div>
    <script>
        $("#searchField").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("getProdutos", "Produto")',
                dataType: "json",
                data: { search: $("#searchField").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.nomeProduto, value: item.nomeProduto };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
    </script>
    <div class="body">
        @RenderBody()
    </div>

    <footer style="margin-top: 325px">
        <p>&copy; @DateTime.Now.Year -  Copyright - Animal World</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

