@model IEnumerable<ProjetoAW.Models.Animal>

@{
    ViewBag.Title = "ListaPets";
}

<h2>ListaPets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricaoAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temperamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagemAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codEspecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codRaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codPorte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeEspecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeRaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomePorte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricaoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temperamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagemAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codEspecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codRaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codCli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codPorte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeEspecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeRaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeCli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomePorte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
