@model ProjetoAW.Models.Produto

@{
    ViewBag.Title = "DetalheProd";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/script.js")"></script>

    <style>
        h2 {
            margin-top: 1.2rem;
            font-size: 1.5rem;
            text-align: center;
        }

        contDetalhe {
            margin-top: 80px;
        }

        .detalhes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 450px;
            background-color: white;
            border-radius: 10px;
            margin-top: 2rem;
        }

        .cardDetalhe img {
            padding-left: 16rem;
        }

        .cardDetalhe {
            display: flex;
            flex-direction: column;
        }

        .cardDetalhe1 {
            width: 40%;
        }

        #addCarrinho {
            background-color: #43b581;
            color: white;
            font-size: 0.8rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
        }

        #preco {
            margin: 20px 0;
            font-size: 22px;
            font-weight: bold;
        }

        #detalheImg {
            height: auto;
        }

        #qntDet {
            width: 3rem;
        }

        h6 {
            margin-top: 1.2rem;
            font-size: 1.8rem;
        }

        .spacing-border{
            margin-top: 15px;
        }

        #estoque{
            color: #43b581;
            font-size: 19px;
        }
    </style>
</head>


@using (Html.BeginForm("adicionarItemCarrinho", "Venda", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="contDetalhe">
        <div>
            <h2 class="--main-title"> Detalhes do produto:</h2>
        </div>
        <div class="detalhes spacing-border">
            <div class="cardDetalhe">

                <img src="@Model.imagemProduto" id="detalheImg">
            </div>
            <div class="cardDetalhe1 spacing-border">
                <h6>@Model.nomeProduto</h6>
                <p id="estoque" class="spacing-border" style="font-weight: 600">@Html.DisplayFor(model => model.valorUnitario)</p>
                <p id="estoque" class="spacing-border">Em estoque: @Model.quantidadeEstoque</p> 
                <input id="labelValor" type="number" value="1" class="form-control spacing-border"/>
                <a class="btn btn-success spacing-border" id="addCarrinho" href="/Venda/AdicionarItemCarrinho/@Model.codProduto"><i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho</a>
                <h3 class="spacing-border">Detalhe do Produto:</h3>
                <br />
                <p class="spacing-border">
                    @Model.descProduto
                </p>
                <br />
                <a href="/Produto/Vitrine">Voltar para a vitrine.</a>
            </div>
        </div>
    </div>
}
