@model IEnumerable<ProjetoAW.Models.Produto>

@{
    ViewBag.Title = "ListaProd";
}

<h2>Lista de Produtos</h2>
<div class="container">

    <table class="table">
        <tr>
            <th style="text-align">
                @Html.DisplayNameFor(model => model.imagemProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidadeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codEspecie)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="td-image">
                    <img class="img-responsive" width="80" height="80" src="@Html.DisplayFor(modelItem => item.imagemProduto)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidadeEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeEspecie)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>
