@model IEnumerable<ProjetoAW.Models.Servico>

@{
    ViewBag.Title = "ListaServicos";
}

<h2>Lista de Serviços</h2>

<div class="container">

    <table class="table">
        <tr>
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.imagemServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaServico)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="td-image">
                    <img class="img-responsive" width="60" height="60" src="@Html.DisplayFor(modelItem => item.imagemServico)"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horaServico)
                </td>
                <td>
                    @Html.ActionLink("Editar", "AlterarServico", new { id=item.codServico }) |
                    @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>
