@model ProjetoAW.Models.Agenda
@{
    ViewBag.Title = "TelaAgendamento";
}

<head>
    <style>
        h2 {
            margin-top: 1.2rem;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.6rem;
        }

        .contTA {
            height: 395px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cardTA {
            border-radius: 5px;
            padding: 1.2rem 0;
            background-color: #3CA374;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .titulo {
            padding-bottom: 1.2rem;
            text-align: center;
            font-size: 1.5rem;
        }

        .conteudoTA {
            height: 100%;
            width: 80%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .linhaTA1 {
            padding-left: 1.2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 85%;
        }

        .linhaDados {
            display: flex;
            flex-direction: row;
        }

        .linhaTA2 {
            text-align: center;
            border: 1px solid #000;
            height: 70px;
            display: flex;
            width: 50%;
        }

        .linhaTA3 {
            text-align: center;
            border: 1px solid #000;
            height: 60%;
            padding: 1.2rem;
        }

        #btnAgendar {
            margin-top: 1.2rem;
            font-size: 1.2rem;
        }
    </style>
</head>
<div>
    <h2>Agendamento</h2>
</div>

@using (Html.BeginForm("CadAgendamento", "Servico", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="contTA">
        <div class="cardTA">
            <div class="titulo">
                <h3>@Html.DisplayFor(modelItem => Model.nomeServico)</h3>
            </div>
            <div class="conteudoTA">
                <div class="linhaTA1">
                    <p> @Html.LabelFor(model => model.dataAgenda, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" }): @Html.EditorFor(model => model.dataAgenda, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "date" } })</p>
                </div>
                <div class="linhaTA1">
                    <p> @Html.LabelFor(model => model.horarioAgenda, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" }):  @Html.EditorFor(model => model.horarioAgenda, new {htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "time"} })</p>
                    <p>
                        @Html.LabelFor(model => model.codAnimal, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" })
                        @Html.DropDownList("animais", null, "Selecione o animal", new { @class = "form-control", @style = "margin-bottom: 5px" })
                    </p>
                </div>
                <div class="linhaDados">
                    <div class="linhaTA2">
                        <p id="animal">Animal escolhido: </p>
                        <p>
                            Valor total do serviço: @Html.DisplayFor(modelItem => Model.valorServico) 
                        </p>
                    </div>
                </div>

                <!--<div class="linhaTA3">
                    <label>Tipo de Serviço:</label>
                    <input type="radio" name="opcao" value="op1" checked> Premium
                    <input type="radio" name="opcao" value="op2"> Serviço Padrão
                </div>-->
            </div>
            <div>
                @Html.EditorFor(model => model.codServico, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "hidden" } })
                <input type="submit" value="Agendar" id="btnAgendar" />
                @ViewBag.Message
            </div>
        </div>
    </div>
}

