@model ProjetoAW.Models.Agenda
@{
    ViewBag.Title = "TelaAgendamento";
}

<head>
    <style>
        h2 {
            margin-top: 1.2rem;
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 1.6rem;
        }

        .contTA {
            height: 395px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cardTA {
            border-radius: 10px;
            padding: 1.2rem 0;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #3CA374;
        }

        .titulo {
            padding-bottom: 1.2rem;
            text-align: center;
            font-size: 1.5rem;
        }

        .conteudoTA {
            height: 100%;
            width: auto;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px;
        }

        .linhaTA1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            margin: 5px;
        }

        .linhaDados {
            display: flex;
            flex-direction: row;
            border: 1px solid #8eb0a1;
            border-radius: 5px;
        }

        .linhaTA2 {
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 10px;
            text-align: center;
        }

        #valorServico {
            color: #43b581;
            font-weight: 600;
        }

        #btnAgendar {
            margin-top: 1.2rem;
            font-size: 1.2rem;
        }
    </style>
</head>
<div>
    <h2 class="--main-title">Agendamento</h2>
</div>

@using (Html.BeginForm("CadAgendamento", "Servico", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="contTA">
    <a class="btn btn-success" href="/Home/Servicos"><i class="fas fa-arrow-left"></i> Voltar</a>
    <div class="cardTA">
        <div class="titulo">
            <h3>Serviço: @Html.DisplayFor(modelItem => Model.nomeServico)</h3>
        </div>
        <div class="conteudoTA">
            <div class="linhaTA1">
                <p> @Html.LabelFor(model => model.dataAgenda, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" }): @Html.EditorFor(model => model.dataAgenda, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "date" } })</p>
            </div>
            <div class="linhaTA1">
                <p> @Html.LabelFor(model => model.horarioAgenda, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" }):  @Html.EditorFor(model => model.horarioAgenda, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "time" } })</p>
            </div>
            <div class="linhaTA1">
                <p>
                    @Html.LabelFor(model => model.codAnimal, htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 5px" })
                    @Html.DropDownList("animais", null, "Selecione o animal", new { @class = "form-select", @style = "margin-bottom: 5px", @id = "pet", @required = "true" })
                </p>
            </div>
        </div>
        <div class="linhaDados">
            <div class="linhaTA2">
                <p id="animal">Animal escolhido: </p>
                <p>
                    <br />
                    Valor total do serviço: <span id="valorServico"> @Html.DisplayFor(modelItem => Model.valorServico)</span>
                </p>
            </div>
        </div>
        <div>
            @Html.EditorFor(model => model.codServico, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 5px", @type = "hidden" } })
            <button class="btn btn-success" id="btnAgendar"><i class="fas fa-calendar-check"></i> Agendar</button>
        </div>
    </div>
</div>
}

<script text="javascript">
    $(document).ready(function () {
        $('#pet').change(function () {
            var idPet = $('#pet').val();
            if (idPet > 0) {
                $.post('@Url.Action("obterAnimalAgendamento", "Animal")', { 'pet': idPet }, function (data) {
                    if (data.length > 0) {
                        $('#animal').empty();
                        $('#animal').append('<p> Animal escolhido: ' + data + '</p>');
                    }
                });
            }
        });
    });
</script>

